/**
 * CSS Reset - http://meyerweb.com/eric/tools/css/reset/
 * License: None (public domain)
 * Copyright: Eric Meyer, http://meyerweb.com/eric/
 *
 * We've used Eric Meyer's reset as a base and modified it a bit to suit our needs.
 */
html,body, div, dl, dt, dd, ul, li,
pre, form, fieldset, input, textarea, blockquote, th, td, figure {
	padding: 0;
	margin: 0;
}
fieldset, img {
	border: 0;
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
address, caption, cite, code, dfn, th, var {
	font-weight: normal;
	font-style: normal;
}
caption, th {
	text-align: left;
}

/*q:before, q:after {
	content: '';
}*/
abbr, acronym {
	border: 0;
}

mark{
	background: none;
}

button{
	border: none;
}

a img{
	text-decoration: none;
}


/**
 * WordPress Core CSS - http://codex.wordpress.org/CSS#WordPress_Generated_Classes
 * License: GPL2
 * Copyright: WordPress.org, http://wordpress.org
 *
 * We've modified this to suit our needs.
 */
 
.alignnone {
    margin: 5px 18px 15px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 15px 18px;
}

.alignleft {
    float: left;
    margin: 5px 18px 15px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 15px 18px;
}

a img.alignnone {
    margin: 5px 18px 15px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 18px 15px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption, .gallery-caption {
    background: #eee;
    border: 1px solid #e6e6e6;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 0.75% 3px 10px;
    text-align: center;
	clear: both;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img, .gallery-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 14px;
    line-height: 25px;
    margin: 2px 0 0;
    padding: 0 4px 0;
}


/**
 * Theme Styles
 */

body, body.wp-autoresize {
	max-width: 685px;
	padding-left: 2.5% !important;
	padding-right: 2.5% !important;
	color: #363636;
	font-family: 'Open Sans', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 16px;
	line-height: normal;
	box-sizing: border-box;

	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

a {
	color: #f26c4f;
}

/* -----------------------------------------------------
   General Elements (Lists, Blockquotes, Tables, etc...)
   ----------------------------------------------------- */

h1 {
	margin: 0.8em 0;
	font-size: 28px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
}

blockquote {
	width: 94%;
	margin: auto;
	padding: 0.5em;
	font-style: italic;
	background: #e3e3e3;
	position: relative;
}

blockquote:before {
	display: block;
	content: "\201C";
	font-size: 66px;
	position: absolute;
	left: -20px;
	top: -20px;
	color: #7a7a7a;
}

table {
	width: 100%;
	font-family: 'Open Sans', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

table tr:nth-child(even) {
	background: #e8e8e8;
}

th {
	padding: 5px;
	background: #d8e7f5;
	font-size: 16px;
	border: 1px solid #bacddd;
	border-bottom: none;
	font-family: 'Open Sans', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

td {
	padding: 5px;
	font-size: 16px;
	border: 1px solid #ddd;
	font-family: 'Open Sans', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

ul {
	margin-left: 30px;
	list-style: disc;
}

dd {
	padding-left: 1em;
	padding-bottom: 1em;
}